{% extends 'base.html.twig' %}

{% block title %}To Do List{% endblock %}

{% block body %}

<div class="jumbotron">
  <h1>To Do List</h1>
  <p>Ce site permet de créer des tâches, de les visualiser et de les modifier.<br>C'est parti !</p>
</div>

<div class="panel panel-primary" style="margin:50px 50px 0 50px;">
    <div class="panel-heading">
        <h3 class="panel-title">Liste des tâches</h3>
    </div>
        <div class="panel-body">
        <table class="table table-striped table-hover">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Titre</th>
                <th>Description</th>
                <th>Statut</th>
                <th>Date de création</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tache in taches %}
            <tr>
                {# <td>{{ tache.id }}</td> #}
                <td>{{ tache.titre }}</td>
                <td>{{ tache.description }}</td>
                <td>{{ tache.statut }}</td>
                <td>{{ tache.createdAt ? tache.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('tache_show', {'id': tache.id}) }}">show</a>
                    <a href="{{ path('tache_edit', {'id': tache.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tache_new') }}">Créer une nouvelle tâche</a>

            <div>{{ knp_pagination_render(taches) }}</div>
        </div>
    </div>


    


{% endblock %}
